<h1>Work Item <%= @work.id %></h1>
<table>
  <tr>
    <th align="left">Project</th>
    <td><%= @work.project.name %></td>
  </tr>
  <tr>
    <th align="left">User</th>
    <td><%= @work.user %></td>
  </tr>
  <tr>
    <th align="left">Date Performed</th>
    <td><%= @work.datetimeperformed %></td>
  </tr>
  <tr>
    <th align="left">Hours</th>
    <td><%= @work.hours %></td>
  </tr>
  <% if @work.doc %>
    <tr>
      <th align="left">Document</th>
      <td><%= link_to @work.doc, "/uploads/#{@work.doc}", target: "_blank" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Edit Work", edit_work_path(@work) %></p>

<% content_for :aside do %>
  <% render "sidebar" %>
<% end %>