<h1><%= @project.name %></h1>
<table>
  <tr>
    <th align="left">Company</th>
    <td><%= @project.company.name %></td>
  </tr>
  <tr>
    <th align="left">Default Rate</th>
    <td><%= number_to_currency(@project.default_rate) %></td>
  </tr>
  <tr>
    <th align="left">Slug</th>
    <td><%= @project.slug %></td>
  </tr>
  <tr>
    <th align="left">Owner</th>
    <td><%= @project.owner %></th>
  </tr>
</table>

<p><%= link_to "Edit Project", edit_project_path(@project) %>

<div class="remoteform">
  <h2>Add Work</h2>
  <%= render partial: "works/form", locals: { doajax: true } %>
</div>  

<% if @project.works.size > 0 %>
  <table>
    <tbody>
      <tr id="headerrow">
        <th>View</th>        
        <th>User</th>
        <th>Project</th>              
        <th>Date/Time Performed</th>
        <th>Hours</th>
      </tr>
      <%= render partial: "works/work", collection: @project.works %>
    </tbody>
  </table>
<% else %>
  <p>No work items</p>
<% end %>  

<% content_for :aside do %>
  <% render "sidebar" %>
<% end %>