<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http_equiv="Content-Type" />
  </head>
  <body>
    <h1>Project Updated</h1>
    <p>Project: <%= @project.name %>
    <br>Company: <%= @project.company %>
    <br>User: <%= @project.user %>
    <br>Default Rate: <%= @project.default_rate %>
    <br>Slug: <%= @project.slug %>
    <br>Changed at: <%= @project.updated_at.strftime("%b %d, %Y, %I:%M:%S %p") %></p>
  </body>
</html>